/* helpers */

.s10 { height: 10px; }
.s20 { height: 20px; }
.s30 { height: 30px; }
.s40 { height: 40px; }
.s50 { height: 50px; }
.s60 { height: 60px; }
.s70 { height: 70px; }
.s80 { height: 80px; }
.s90 { height: 90px; }


/* style */

.container, #root {
  background: #222;
  color: #EEE;
}

#root {
  padding-bottom: 30px;
}

h1, h2, .title.is-4 {
  color: #EEE;
}

.is-primary, .hero.is-primary {
  background-color: rgb(247, 78, 78) !important;
}

.hero-body h1 {
  background: rgb(247, 78, 78);
}

.bordered {
  border: 2px solid #777;
  border-top: 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#root > .container > section {
  background: #2d2d2d;
}

img.logo_img {
  width: 400px;
}

input.input {
  background: #444;
  color: #EEE;
}
